<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.beratyesbek.Vhoops">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera.any" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vhoops">
        <activity android:name=".Activities.CameraActivity"/>
        <activity android:name=".Core.Permission.GalleryPermission" />
        <activity android:name=".Activities.ProfileEditActivity" />
        <activity android:name=".Activities.ProfileActivity" />
        <activity
            android:name=".Activities.ChatActivity"
            android:theme="@style/AppTheme_NoActionBar_NonFullscreen" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity android:name=".Activities.NavigationBottomActivity" />
        <activity
            android:name=".Activities.LoginActivity"
            android:theme="@style/AppTheme_NoActionBar" />
        <activity
            android:name=".Activities.MainActivity"
            android:theme="@style/AppTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>